@import "../../../../config//style.config.scss";


.button{
    width: 100%;

    outline: none;
    border: none;
    border-radius: 5px;

    font-size: $font-size-small;
    font-family: ubuntu-regular;
    color: whitesmoke;

    padding: 1em 1em;

    filter: brightness(0.9);
    cursor: pointer;
    transition-duration: 0.5s;
}

.button:hover{
    filter: brightness(1);
}
.button:active{
    transition-duration: 50ms;
    box-shadow: 0px 0px 10px 1px white;
}

.button[disabled]{
    filter: brightness(0.3);
    pointer-events: none;
    cursor: not-allowed;
}