$text_color: #c6c6c6;
$background_color: #222222;

h1, h2, h3, h4, h5, h6 {
  font-size: 32px;
  color: $text_color;
}

body{
  background-color: $background_color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}