.header {
    margin: 0;
    padding: 0;
    margin-top: 2em;
}


.summary_container {
    margin-top: 30px;
}

.summary_container_header {

    font-size: 20px;
    color: white;
}

.url {
    color: rgb(13, 112, 249);
}

.summary_item {
    font-size: 16px;
    color: whitesmoke;
    margin: 0;
    font-weight: 100;
}

.map_item {
    margin: 0;
    color: whitesmoke;
    font-weight: 100;
    font-size: 12px;
}