$font-size-large: 32px;
$font-size-medium: 20px;
$font-size-small: 16px;

$netflix-dark: #222222;
$netflix-red: #DB0000;
$netflix-gray: #564D4D;
$netflix-white: #FFFFFF;
$netflix-dark-red: #831010;

$primary: #3185FC;
$secondary: #00A896;
$support: #02C39A;




