$netflix_light_red: #E50914;
$netflix_dark_red: #B81D24;
$netflix_black: #221F1F;
$netflix_white: #F5F5F1;

.separator {
    width: 100%;
    height: 2px;

    background-color: $netflix_white;

    margin: 2em 0;
}